
<footer class="footer">
    <div class="container">
        <div class="content">
                <div class="footer_row">
                        <p>All Rights Reserved to Tarek Rida &copy; 2019</p>
                    </div>
            <div class="footer_row">
                <div class="social d-flex">
                    <a href="https://wa.me/+0201065596566">
                        <div class="icon">
                            <i class="fab fa-whatsapp"></i>
                        </div>
                    </a>
                    <a href="mailto:tarek.rida1@hotmail.com">
                        <div class="icon">

                            <i class="fas fa-envelope"></i>

                        </div>
                    </a>
                    <a href="https://github.com/Tarekrida1">
                        <div class="icon">

                            <i class="fab fa-github-square"></i>

                        </div>
                    </a>
                    <a href="https://www.linkedin.com/in/tarekrida1">
                        <div class="icon">

                            <i class="fab fa-linkedin"></i>

                        </div>
                    </a>
                    <a href="https://www.facebook.com/tarek.rida1">
                        <div class="icon">

                            <i class="fab fa-facebook"></i>

                        </div>
                    </a>
                </div>
            </div>
          
        </div>
    </div>
</footer>