<section class="experience_timeline_card container">
      
   <div class="row">
       <div class="col-md-4">
            <div class="global_card">
                    <h4 class="main_title"><i class="fas fa-briefcase pr-2"></i>Experience</h4>
                    <hr>
                <!-- <p></p> -->
               </div>
       </div>
       <div class="col-md-8">
           
       </div>
   </div>
    <div class="timeline">
        
        <div class="timeline_card">
            <div class="content">
                <h5 class="company">Mena Tech Ecosystem</h5>
                <h6 class="job_title">Front End Developer<span>Full Time</span></h6>
                <div class="date_contaner">
                    <div class="row">
                        <div class="col-md-6">
                            <p><span>From :</span>25 Mar 2019</p>
                        </div>
                        <div class="col-md-6">
                            <p><span>To :</span>Present</p>
                        </div>
                    </div>
                </div>
                <ul>
                    <li>
                        <p>Responsible For Convert PSD To HTML, CSS, , Js, jquery Code And Design UI for Web. </p>
                    </li>
                 
                    <li>
                        <p>Test front end code in multiple browsers to ensure crossbrowser
                            compatability. </p>
                    </li>
                    <li>
                        <p>Develop code for Validation. </p>
                    </li>
                    <li>
                        <p>Web page development from design to test and up to
                            production deployment.</p>
                    </li>
                    
                    <li>
                        <p>Optimize Pages Performance.</p>
                    </li>
                    <li>
                        <p>Follow users feedback  and customers.</p>
                    </li>
                    <li>
                        <p>Make suggestions for better solutions to problems.</p>
                    </li>
                   
                </ul>
              </div>
        </div>
        <div class="timeline_card">
          <div class="content">
            <h5 class="company">ISG | Integrated solutions Gate</h5>
            <h6 class="job_title">Front End Developer<span>Full Time</span></h6>
            <div class="date_contaner">
                <div class="row">
                    <div class="col-md-6">
                        <p><span>From :</span>01 Nov 2018</p>
                    </div>
                    <div class="col-md-6">
                        <p><span>To :</span>08 Mar 2019</p>
                    </div>
                </div>
            </div>
            <ul>
                <li>
                    <p>Responsible For Convert PSD To HTML, CSS, , Js, jquery Code And Design UI for Web. </p>
                </li>
            </ul>
        
          </div>
        </div>
        
      </div>
</section>